# Configuration for the source database to copy from
# with dynamodb just the region and table name is needed
source:
  #hostURL: http://dynamodb.us-east-1.amazonaws.com
  region: us-east-1
  #port: 8000
  #credentials:
  #   accessKey: <user>
  #   secretKey: <pass>
  table: stocks

  # below controls split factor
  #scan_segments: 1

  # throttling settings, set based on your capacity (or wanted capacity)
  #read_throughput: 1

  # The value of dynamodb.throughput.read.percent can be between 0.1 and 1.5, inclusively.
  # 0.5 represents the default read rate, meaning that the job will attempt to consume half of the read capacity of the table.
  # If you increase the value above 0.5, spark will increase the request rate; decreasing the value below 0.5 decreases the read request rate.
  # (The actual read rate will vary, depending on factors such as whether there is a uniform key distribution in the DynamoDB table.)
  #throughput_read_percent: 1.0

  # how many tasks per executor?
  #max_map_tasks: 1

# Configuration for the database you're copying into
# with scylla the host and port are a must
target:
  hostURL: http://scylla
  #region: us-east-1
  port: 8000
  #credentials:
  #   accessKey: <user>
  #   secretKey: <pass>

  # table is optional, if not set, source table name will be used
  #table: stocks

  # below controls split factor
  #scan_segments: 1

  # throttling settings, set based on your capacity (or wanted capacity)
  #write_throughput: 1

  # The value of dynamodb.throughput.write.percent can be between 0.1 and 1.5, inclusively.
  # 0.5 represents the default read rate, meaning that the job will attempt to consume half of the read capacity of the table.
  # If you increase the value above 0.5, spark will increase the request rate; decreasing the value below 0.5 decreases the read request rate.
  # (The actual read rate will vary, depending on factors such as whether there is a uniform key distribution in the DynamoDB table.)
  #throughput_write_percent: 1.0

  # how many tasks per executor?
  #max_map_tasks: 1

