services:
  spark-master:
    build: dockerfiles/spark
    command: master
    environment:
      SPARK_PUBLIC_DNS: localhost
    ports:
      - 4040:4040
      - 8080:8080
    volumes:
      - ./data/spark-master:/tmp/data
      - ./migrator/target/scala-2.13:/jars
      - ./parquet-data:/parquet-data
      - ./:/app

  spark-worker:
    build: dockerfiles/spark
    command: worker
    environment:
      SPARK_WORKER_CORES: 3
      SPARK_WORKER_MEMORY: 1024m
      SPARK_WORKER_WEBUI_PORT: 8081
      SPARK_PUBLIC_DNS: localhost
    ports:
      - 8081:8081
    volumes:
      - ./data/spark-worker:/tmp/data
      - ./parquet-data:/parquet-data
    depends_on:
      - spark-master
