name: Release

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: temurin
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Build
        run: make build
      - name: Upload release artifact
        uses: softprops/action-gh-release@v2
        with:
          files: migrator/target/scala-2.13/scylla-migrator-assembly.jar
