name: Release

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: temurin
          cache: sbt
      - name: Build
        run: ./build.sh
      - name: Publish
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: migrator/target/scala-2.13/scylla-migrator-assembly.jar
          asset_name: scylla-migrator-assembly.jar
          asset_content_type: application/octet-stream
