name: Tests with AWS
on:
  push:
    branches:
      - master
    paths:
      - '**.scala'
      - '**.sbt'
  workflow_dispatch:

env:
  AWS_REGION: us-east-1

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml

  test-aws:
    name: AWS integration tests
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Download assembly JAR
        uses: actions/download-artifact@v4
        with:
          name: migrator-jar
          path: migrator/target/scala-2.13/
      - name: Start services
        run: make start-services-aws
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
      - name: Wait for services
        run: make wait-for-services-aws
      - name: Dump container logs on failure
        if: failure()
        run: make dump-logs
      - name: Run AWS integration tests
        run: make test-integration-aws
      - name: Stop services
        run: make stop-services
