name: Tests with AWS
on:
  push:
    branches:
      - master
    paths:
      - '**.scala'
      - '**.sbt'
  workflow_dispatch:

env:
  AWS_REGION: us-east-1

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml

  test:
    name: Test
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache Docker images
        uses: ScribeMD/docker-cache@0.5.0
        with:
          key: docker-${{ runner.os }}-${{ hashFiles('docker-compose-tests.yml') }}
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Download assembly JAR
        uses: actions/download-artifact@v4
        with:
          name: migrator-jar
          path: migrator/target/scala-2.13/
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
      - name: Set up services
        run: |
          docker compose -f docker-compose-tests.yml up -d scylla spark-master spark-worker
          .github/wait-for-port.sh 8000 # ScyllaDB Alternator
          .github/wait-for-cql.sh scylla
          .github/wait-for-port.sh 8080 # Spark master
          .github/wait-for-port.sh 8081 # Spark worker
      - name: Run tests accessing AWS
        run: sbt "testOnly -- --include-categories=com.scylladb.migrator.AWS"
      - name: Stop services
        run: docker compose -f docker-compose-tests.yml down
