name: "Tests / Tutorials"
on:
  push:
    branches:
      - master
    paths:
      - '**.scala'
      - '**.sbt'
      - 'Dockerfile'
      - 'dockerfiles/**'
      - '.github/workflows/**'
      - 'Makefile'

  pull_request:
    paths:
      - '**.scala'
      - '**.sbt'
      - 'Dockerfile'
      - 'dockerfiles/**'
      - '.github/workflows/**'
      - 'Makefile'

env:
  TUTORIAL_DIR: docs/source/tutorials/dynamodb-to-scylladb-alternator

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml

  test:
    name: DynamoDB migration
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Pull or build Spark image
        run: make spark-image
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Download assembly JAR
        uses: actions/download-artifact@v4
        with:
          name: migrator-jar
          path: migrator/target/scala-2.13/
      - name: Place JAR for tutorial
        run: cp migrator/target/scala-2.13/scylla-migrator-assembly.jar "$TUTORIAL_DIR/spark-data"
      - name: Start services
        run: |
          cd $TUTORIAL_DIR
          docker compose up -d
      - name: Wait for the services to be up
        run: |
          wait_for_port() {
            local port=$1 attempts=0 max=480
            echo "Waiting for port $port..."
            while ! curl -s "http://127.0.0.1:$port" > /dev/null; do
              [[ $attempts -ge $max ]] && echo "Failed!" && exit 1
              attempts=$((attempts+1))
              sleep 1
            done
          }
          wait_for_port 8000  # DynamoDB
          wait_for_port 8001  # ScyllaDB Alternator
          wait_for_port 8080  # Spark master
          wait_for_port 8081  # Spark worker
      - name: Dump container logs on failure
        if: failure()
        run: |
          cd $TUTORIAL_DIR
          docker compose logs
      - name: Run tutorial
        run: |
          cd $TUTORIAL_DIR
          aws configure set region us-west-1
          aws configure set aws_access_key_id dummy
          aws configure set aws_secret_access_key dummy
          sed -i 's/seq 1 40000/seq 1 40/g' ./create-data.sh
          ./create-data.sh
          . ./run-migrator.sh
      - name: Stop services
        run: |
          cd $TUTORIAL_DIR
          docker compose down
