name: "Tests / Tutorials"
on:
  push:
    branches:
      - master
    paths:
      - '**.scala'
      - '**.sbt'
      - 'Dockerfile'
      - 'dockerfiles/**'
      - '.github/workflows/**'
      - '.github/*.sh'

  pull_request:
    paths:
      - '**.scala'
      - '**.sbt'
      - 'Dockerfile'
      - 'dockerfiles/**'
      - '.github/workflows/**'
      - '.github/*.sh'

env:
  TUTORIAL_DIR: docs/source/tutorials/dynamodb-to-scylladb-alternator

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml

  test:
    name: DynamoDB migration
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Pull or build Spark image
        run: bash .github/spark-cache.sh
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Download assembly JAR
        uses: actions/download-artifact@v4
        with:
          name: migrator-jar
          path: migrator/target/scala-2.13/
      - name: Place JAR for tutorial
        run: cp migrator/target/scala-2.13/scylla-migrator-assembly.jar "$TUTORIAL_DIR/spark-data"
      - name: Start services
        run: |
          cd $TUTORIAL_DIR
          docker compose up -d
      - name: Wait for the services to be up
        run: |
          .github/wait-for-port.sh 8000 # DynamoDB
          .github/wait-for-port.sh 8001 # ScyllaDB Alternator
          .github/wait-for-port.sh 8080 # Spark master
          .github/wait-for-port.sh 8081 # Spark worker
      - name: Run tutorial
        run: |
          cd $TUTORIAL_DIR
          aws configure set region us-west-1
          aws configure set aws_access_key_id dummy
          aws configure set aws_secret_access_key dummy
          sed -i 's/seq 1 40000/seq 1 40/g' ./create-data.sh
          ./create-data.sh
          . ./run-migrator.sh
      - name: Stop services
        run: |
          cd $TUTORIAL_DIR
          docker compose down
